@media only screen and (max-width: 1620px) {
    .zahlavi-skroluj{
    display: none;
    }


    .navbar{
        gap: 1rem;
        justify-content: space-evenly;
    }

    
    .navbar .logo{
        margin-left: 0.5rem;
        min-width: 12rem;
        max-width: 12rem;
    
    }
    .odkazy{
        margin-left: 0;
        gap: 5%;
        display: flex;
        width: max-content;
    }

    .search-bar{
        margin-left: 3rem;
        width: 11rem;
    }
    .search-bar-inner{
        width: 11rem;
    }

    .user-items{
        margin-left: 0;
        gap: 1rem;
    }

    .vyberte-section{
        height: 470px;
    }

    .vyberte-tab{
        width: 240px;
        height: 482px;
    }

    .vyberte-tab img{
        object-fit: cover;
        width: 240px;
        height: 482px;
    }

    .button-zobrazit-vice{
        width: 210px;
        height: 102px;
    }

    .vyberte-tab-text{
        padding-top: 22rem;
    }

    .vyberte-tab-text h1{
        font-size: 24px;
    }

    .vyberte-tab-text h2{
        font-size: 12px;
    }

    .blog-wrapper{
        height: max-content;
    }

    .blog-grid{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(3, 0fr);
    }

    .blog-grid-tlacitko{
        display: flex;
        flex-direction: column;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .clanek-nahled{
        position: relative;
        height: 284px;
        width: 406px;
        overflow: hidden;
        transition: 0.4s;
    }

    .clanek-nahled-text, .clanek-nahled-span-2-text{
        top: 60%;
    }

    #vyhody{
        display: flex;
        justify-content: center;
        overflow: clip;
    }

    #vyhody-separator{
        display:none
    }

    .vyhody-wrapper{
        display: flex;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }

    .vyhody-tab{
        display: inline-flex;
        flex-grow: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 18px;
        width: 240px;
    }


    .vyhody-tab img{
        margin-right: 0.5rem;
        height: 35px;
    }

    .vyhody-tab .banka-img{
        display: flex;
        margin-left: 0.5rem;
        margin-right: 1rem;
        height: 18px;
        outline: 2.5px solid #ECB235;
        outline-offset: 2px;
        border-radius: 50%;
    }

    .vyhody-tab span{
        flex-grow: 0;
        min-width: 0;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .vyhody-tab #span-banka{
        flex-grow: 0;
        min-width: 0;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .zapati{
    height: max-content;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    justify-content: space-between;
    gap: 0;


    }

    .zapati-wrapper{
        width: 75%;
    }

    .zapati-logo{
        display: flex;
        justify-content: center;
    }

    .zapati-info{
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-left: auto;
        margin-right: auto;
        gap: 4rem;
        
    }

    .zapati-info{
        width: 100%;
    }

    .zapati-info #kontakt{
        
        margin: 0;

    }

}





@media only screen and (max-width: 992px) {

.montserrat-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body{
    margin: 0;

}
h1, h2, h3, h4{
    font-weight: 500;
    margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


button, select{
    cursor: pointer;
}

 /* Sekce pro navigační pruh */
.navbar{
    padding: 0.5rem;
    transition: 0.4s;
    width: calc(100% - 1rem);
    background-color: #fff;
    display: inline-flex;
    position: fixed;
    z-index: 7;
    justify-content: space-between;
    overflow: clip;
    gap: 2rem;
    top: 0;
    font-weight: 500;
    
}
.navbar .logo{
    height: 39px;
    min-width: 104px;
    max-width: 104px;
    background-color: #E9E9E9;
    display: flex;
    margin-left: 0;

}


.logo a{
    margin: auto;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    
    
}

.odkazy{
    margin-left: 9.5rem;
    display: none;
    gap: 2rem;
    align-items: center;

}
.odkazy a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

}

.user-items a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

}

.search-bar{
    width: 18rem;
    height: 2.5rem;
    border-bottom: 1.5px solid #C9C9C9;
    margin-left: 5rem;
    display: none;
    
}
.search-bar-inner{
    margin: auto;
    width: 17rem;
    display: inline-flex;
    align-items: center;


}

.search-bar input{
    width: 100%;
    text-decoration: none;
    border: none;
    font-size: 14px;
    align-self: center;
    
}
.search-bar input:focus{
    outline: none;
    
    
}

.navbar select{
    border: none;
    font-size: 14px;
}
.user-items{
    margin-left: 2rem;
    display: none;
    align-items: center;
    gap: 2.5rem;
}

.nav-small{
    width: 90%;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;

    
}
.nav-small a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

}
.nav-small button{
    border: none;
    background: transparent;
}

/* Sekce pro záhlavní obrázek */

.zahlavi-obrazek{
    position: relative;
    display: flex;
    width: 100%;
    height: 673px;
    overflow: hidden;
    

}

.zahlavi-obrazek img{
    z-index: 1;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 45% 0;
    transform: translate(0, 2rem);
}

.zahlavi-text-na-obrazku{
    z-index: 2;
    width: 80%;
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
}
.zahlavi-text-na-obrazku h2{
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1.25rem;
}
.zahlavi-text-na-obrazku h1{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 5rem;
}

.zahlavi-skroluj{
    display: none;
    font-size: 14px;
    color: white;
    position: absolute;
    z-index: 2;
    top: 84%;
    left: 15rem;
}

.zahlavi-skroluj span{
    height: fit-content;
    transform: rotate(-90deg) translate(4rem, -1.5rem);
}

.zahlavi-carousel-controls{
    transform: scale(1);
    z-index: 2;
    position: absolute;
    top: 89%;
    left: 43%;
}

.button-white{
    min-width: 11rem;
    max-width: 11rem;
    height: 43px;

    background-color: #fff;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    transition: 0.4s;
    

}

.button-white span{
    font-size: 14px;
    display: flex;
    margin: auto;

}

.button-white:hover{
    background-color: #000;
    color: white;
    text-decoration: underline;
}


/* Sekce pro grid s tlačítky nakupuj */

.nakupuj-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
    gap: 15px;
    justify-content: center;
}

.nakupuj-karta{
    height: 195px;
    width: 334px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    display: flex;
}

.nakupuj-karta img{
    transform: scale(1);
    translate: 0;
    
    width: 334px;
    height: 195px;

    z-index: 1;
    object-fit: fill;
    filter: saturate(70%) hue-rotate(-5deg);
}


.nakupuj-karta #aurelius{
    transform: scale(2.1);
    object-fit: cover;
    translate: 15px 20px;
}


.nakupuj-karta-text{
    width: inherit;
    height: inherit;
    z-index: 2;
    position: absolute;
    padding-top: 14%;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.nakupuj-karta-text h1{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

/* Sekce pro grid s výběrem z nabídky */


.vyberte-section{
    width: 100%;
    height: 304px;
    display: flex;
    flex-direction: column;
    background-color: #131313;
}

.vyberte-section-nadpis{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.vyberte-grid{
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: start;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 0px;
    overflow: hidden;
}

.vyberte-tab {
    min-width: 168px;
    height: 284px;
    overflow: hidden;
    position: inherit;
}

.vyberte-grid-tlacitko {
    width: 336px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;


}

.vyberte-grid-tlacitko .button-zobrazit-vice{
    align-self: end;
    translate: 0 -50%;
}

.vyberte-tab img{
    position: absolute;
    object-fit: cover;
    height: 284px;
    width: 168px;
    filter: brightness(70%) hue-rotate(-4deg) contrast(95%);
}

.vyberte-tab #aurelius{
    transform: scale(1.3);
    translate: 0 2rem;
}

.vyberte-tab-text{
    position: absolute;
    text-decoration: none;
    color: #fff;
    padding-top: 11rem;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 178, 53, 0);
    transition: 0.4s;
    
}

.svg-sipka{
    display: none;

}

.button-zobrazit-vice img{
    display: none;
}

.vyberte-tab-text:hover{
    background-color: rgba(236, 178, 53, 0.7);
}


.vyberte-tab-text h1{
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    width: 100%;
}

.vyberte-tab-text h2{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    width: 100%;
}

.button-zobrazit-vice{
    width: 140px;
    height: 67px;
    border: none;
    font-size: 12px;
    background-color: #ECB235;
    transition: 0.4s;
    display: flex;
    align-items: center;
    outline: #ECB235 solid 1px;
    outline-offset: -1px;
}

.button-zobrazit-vice:hover{
    background-color: #131313;
    color: #fff;
    padding-left: 5%;
    

}

/* Sekce pro nabídku produktů */

.nabidka-produkty{
    margin-top: 13rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

.nabidka-nav-buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    
    
}

.nabidka-nav-buttons button{
    border: none;
    background: none;

    padding-left: 1rem;
    padding-right: 1rem;
}

.nabidka-nav-buttons button:hover{
    text-decoration: underline;
}

.nabidka-nav-buttons .selected h1{
    color: #000;
    font-size: 24px;

}

.nabidka-nav-buttons .inactive h1{
    color: #979797;
    font-size: 16px;
}

.nabidka-produkty-wrapper{
    display: inline-flex;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

.button-zobrazit-vice-produktu{

    border: #000 1px solid;
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    font-size: 14px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Sekce pro blog */

.blog-wrapper{
    background-color: #131313;
    margin-top: 4rem;
    height: max-content;
}

.blog-wrapper-nadpis{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.blog-grid{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.blog-grid-tlacitko{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    
}
.blog-grid-tlacitko .button-zobrazit-vice{
    align-self: end;
    translate: 0 -50%;
}

.clanek-nahled{
    position: relative;
    height: 232px;
    width: 332px;
    overflow: hidden;
    transition: 0.4s;
}

.clanek-nahled:hover h1, .clanek-nahled-span-2:hover h1{
    text-decoration: underline;
}

.clanek-nahled, #bankovka{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/bankovka.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #prasatko{
    background: #2E2E2E;
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/prasatko.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #businessman{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/businessman.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #stonks{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/stonks.png);
    background-position: 0 0;
    background-size: cover;
}
.clanek-nahled-span-2, #lupa{
    background: #2E2E2E;
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/lupa.png);
    background-position: center;
    background-size: cover;
}



.clanek-nahled-span-2{
    height: 232px;
    grid-column: span 2;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.clanek-nahled-text, .clanek-nahled-span-2-text{
    position: absolute;
    color: #fff;
    top: 55%;
    margin-left: 5%;
}

.clanek-nahled-text h1, .clanek-nahled-span-2 h1{
    font-size: 24px;
    font-weight: 500;
    margin: 0;

}
.clanek-nahled-text h2, .clanek-nahled-span-2 h2{
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.clanek-nahled-text h2 span, .clanek-nahled-span-2-text h2 span{
    display: inline-flex;
    align-items: center;
}





.clanek-nahled:hover, #bankovka:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #prasatko:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #businessman:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #stonks:hover{
    background-position: 0 2%;
}
.clanek-nahled-span-2:hover, #lupa:hover{
    background-position: 0 2%;
}








/* Sekce pro info o výhodách */
#vyhody{
    display: flex;
    justify-content: center;
    overflow: clip;
}

#vyhody-separator{
    display:none
}

.vyhody-wrapper{
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.vyhody-tab{
    display: inline-flex;
    flex-grow: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 12px;
    width: 160px;
}


.vyhody-tab img{
    margin-right: 0.5rem;
    height: 35px;
}

.vyhody-tab .banka-img{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 18px;
    outline: 2.5px solid #ECB235;
    outline-offset: 2px;
    border-radius: 50%;
}

.vyhody-tab span{
    flex-grow: 0;
    min-width: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.vyhody-tab #span-banka{
    flex-grow: 0;
    min-width: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}


/* Sekce pro část na kontakt */

.kontakt-wrapper{
    background-color: #ECB235;
    height: 341px;
    color: #fff;
    text-align: center;
    width: 100%;
    background-image: url(assets/img/message-icon.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 31.5% 78%;
}

.kontakt-wrapper h1{
    font-size: 24px;
    padding-top: 94px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}

.kontakt-input{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    padding-top: 2rem;
}

.kontakt-input input{
    width: 205px;
    height: 51px;
    padding-left: 16px;
    font-size: 12px;
}

.kontakt-input input::placeholder{
    color: #939393;
}

.kontakt-input button{
    width: 112px;
    margin: 0;
    padding-left: 5%;
    height: 51px;
    display: inline-flex;
    justify-content: center;

}


.kontakt-input button span{
    padding: 0;
}

.kontakt-input img{
    scale: 0.5;
    width: auto;
    translate: -0.6rem 0;

}

/* Sekce pro zápatí */

.zapati{
    height: max-content;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: space-between;
    gap: 0;


}

.zapati ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.zapati-wrapper{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

.zapati-logo{
    display: flex;
    justify-content: center;

}

.zapati-info{
    width: 100%;
    margin-top: 5.5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    
}

.zapati-info #kontakt{
    font-size: 12px;
    font-weight: 400;

    
}

.zapati-info #kontakt span{
    display: inline-flex;
    align-content: center;
    
}

.zapati-info h1{
    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    margin-bottom: 1rem;
}

.zapati-info a{
    line-height: 170%;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
}

.zapati-info a:hover{
    text-decoration: underline;
}



.zapati-copyright{
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.zapati-copyright #vytvoril-miranda{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    margin-top: 1rem;
}

.zapati #miranda-logo{
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
    width: 23px;
}







}