@media only screen and (max-width: 600px) {

.montserrat-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body{
    margin: 0;

}
h1, h2, h3, h4{
    font-weight: 500;
    margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


button, select{
    cursor: pointer;
}

 /* Sekce pro navigační pruh */
.navbar{
    padding: 1.7rem;
    transition: 0.4s;
    width: 100%;
    background-color: #fff;
    display: none;
    position: fixed;
    z-index: 7;
    align-items: center;
    gap: 15px;
    top: 0;
    font-weight: 500;
    
}
.logo{
    height: 66px;
    min-width: 223px;
    max-width: 223px;
    background-color: #E9E9E9;
    display: flex;
}

.navbar .logo{
    margin-left: 13.3rem;
}

.logo a{
    margin: auto;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    
    
}

.odkazy{
    margin-left: 9.5rem;
    display: inline-flex;
    gap: 2rem;
    align-items: center;

}
.odkazy a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

}

.user-items a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

}

.search-bar{
    width: 18rem;
    height: 2.5rem;
    border-bottom: 1.5px solid #C9C9C9;
    margin-left: 5rem;
    display: flex;
    
}
.search-bar-inner{
    margin: auto;
    width: 17rem;
    display: inline-flex;
    align-items: center;


}

.search-bar input{
    width: 100%;
    text-decoration: none;
    border: none;
    font-size: 14px;
    align-self: center;
    
}
.search-bar input:focus{
    outline: none;
    
    
}

.navbar select{
    border: none;
    font-size: 14px;
}
.user-items{
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
}

/* Sekce pro záhlavní obrázek */

.zahlavi-obrazek{
    position: relative;
    display: flex;
    width: 100%;
    height: 673px;
    overflow: hidden;
    

}

.zahlavi-obrazek img{
    z-index: 1;
    width: 100%;
    object-fit: cover;
    scale: 1.03;
    transform: translate(0, 2rem);
}

.zahlavi-text-na-obrazku{
    z-index: 2;
    width: 623px;
    color: white;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zahlavi-text-na-obrazku h2{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.24rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
}
.zahlavi-text-na-obrazku h1{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0;
    text-align: center;
}

.zahlavi-skroluj{
    display: none;
    font-size: 14px;
    color: white;
    position: absolute;
    z-index: 2;
    top: 84%;
    left: 15rem;
}

.zahlavi-skroluj span{
    height: fit-content;
    transform: rotate(-90deg) translate(4rem, -1.5rem);
}

.zahlavi-carousel-controls{
    width: fit-content;
    z-index: 2;
    position: absolute;
    top: 85%;
    left: 48.5%;
}

.button-white{
    min-width: 15rem;
    max-width: 15rem;
    height: 58px;

    background-color: #fff;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 4rem;
    transition: 0.4s;
    

}

.button-white span{
    font-size: 14px;
    display: flex;
    margin: auto;

}

.button-white:hover{
    background-color: #000;
    color: white;
    text-decoration: underline;
}


/* Sekce pro grid s tlačítky nakupuj */

.nakupuj-grid{
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 15px;
    justify-content: center;
}

.nakupuj-karta{
    height: 470px;
    width: 470px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.nakupuj-karta img{
    transform: scale(1.5);
    translate: 0 0px;
    z-index: 1;
    object-fit: contain;
    filter: saturate(60%);
}


.nakupuj-karta #aurelius{
    transform: scale(2.1);
    translate: 25px 35px;
}


.nakupuj-karta-text{
    width: inherit;
    height: inherit;
    z-index: 2;
    position: absolute;
    padding-top: 36%;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.nakupuj-karta-text h1{
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 80px;
}

/* Sekce pro grid s výběrem z nabídky */


.vyberte-section{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    background-color: #131313;
}

.vyberte-section-nadpis{
    padding-top: 4.7rem;
    padding-bottom: 4rem;
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.vyberte-grid{
    width: max-content;
    position: relative;
    display: inline-flex;
    gap: 0px;
    
    justify-content: center;
}

.vyberte-tab {
    width: 361px;
    height: 610px;
    overflow: hidden;
    position: inherit;
}

.vyberte-grid-tlacitko {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;


}

.vyberte-grid-tlacitko .button-zobrazit-vice{
    align-self: end;
    translate: 0 -50%;
}

.vyberte-tab img{
    position: absolute;
    object-fit: cover;
    filter: brightness(70%) hue-rotate(-4deg) contrast(95%);
}

.vyberte-tab #aurelius{
    transform: scale(1.3);
    translate: 0 2rem;
}

.vyberte-tab-text{
    position: absolute;
    text-decoration: none;
    color: #fff;
    padding-top: 27.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 178, 53, 0);
    transition: 0.4s;
    
}

.svg-sipka{
    opacity: 0%;
    margin: 0;
    transition: 0.4s;
    translate: 0, 0;
    

}

.vyberte-tab-text:hover{
    background-color: rgba(236, 178, 53, 0.7);
}

.vyberte-tab-text:hover .svg-sipka{
    
    opacity: 100%;
    translate: 0, 5%;

}

.vyberte-tab-text h1{
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;
    width: 100%;
}

.vyberte-tab-text h2{
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;
    width: 100%;
}

.button-zobrazit-vice{
    width: 243px;
    height: 118px;
    border: none;
    font-size: 14px;
    background-color: #ECB235;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 15%;
    outline: #ECB235 solid 1px;
    outline-offset: -1px;
}

.button-zobrazit-vice:hover{
    background-color: #131313;
    color: #fff;
    padding-left: 5%;
    

}

/* Sekce pro nabídku produktů */

.nabidka-produkty{
    margin-top: 17rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    
}

.nabidka-nav-buttons{
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: baseline;
    
}

.nabidka-nav-buttons button{
    border: none;
    background: none;

    padding-left: 1rem;
    padding-right: 1rem;
}

.nabidka-nav-buttons button:hover{
    text-decoration: underline;
}

.nabidka-nav-buttons .selected h1{
    color: #000;
    font-size: 24px;

}

.nabidka-nav-buttons .inactive h1{
    color: #979797;
    font-size: 16px;
}

.nabidka-produkty-wrapper{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.button-zobrazit-vice-produktu{

    border: #000 1px solid;
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    font-size: 14px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Sekce pro blog */

.blog-wrapper{
    background-color: #131313;
    margin-top: 5rem;
    height: 974px;
}

.blog-wrapper-nadpis{
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.blog-grid{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 0px;
}

.blog-grid-tlacitko{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    
}
.blog-grid-tlacitko .button-zobrazit-vice{
    align-self: end;
    translate: 0 -50%;
}

.clanek-nahled{
    position: relative;
    height: 336px;
    width: 480px;
    overflow: hidden;
    transition: 0.4s;
}

.clanek-nahled:hover h1, .clanek-nahled-span-2:hover h1{
    text-decoration: underline;
}

.clanek-nahled, #bankovka{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/bankovka.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #prasatko{
    background: #2E2E2E;
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/prasatko.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #businessman{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/businessman.png);
    background-position: center;
    background-size: cover;
}
.clanek-nahled, #stonks{
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/stonks.png);
    background-position: 0 0;
    background-size: cover;
}
.clanek-nahled-span-2, #lupa{
    background: #2E2E2E;
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/lupa.png);
    background-position: center;
    background-size: cover;
}



.clanek-nahled-span-2{
    height: 336px;
    grid-column: span 2;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.clanek-nahled-text, .clanek-nahled-span-2-text{
    position: absolute;
    color: #fff;
    top: 65%;
    margin-left: 5%;
}

.clanek-nahled-text h1, .clanek-nahled-span-2 h1{
    font-size: 36px;
    font-weight: 500;
    margin: 0;

}
.clanek-nahled-text h2, .clanek-nahled-span-2 h2{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.clanek-nahled-text h2 span, .clanek-nahled-span-2-text h2 span{
    display: inline-flex;
    align-items: center;
}





.clanek-nahled:hover, #bankovka:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #prasatko:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #businessman:hover{
    background-position: 0 2%;
}
.clanek-nahled:hover, #stonks:hover{
    background-position: 0 2%;
}
.clanek-nahled-span-2:hover, #lupa:hover{
    background-position: 0 2%;
}








/* Sekce pro info o výhodách */
#vyhody{
    display: flex;
    justify-content: center;
}

.vyhody-wrapper{
    display: inline-flex;
    width: 80%;
    height: 120px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.vyhody-tab{
    display: inline-flex;
    font-size: 18px;
}

.vyhody-tab img{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    height: 60px;
}

.vyhody-tab .banka-img{
    height: 30px;
    outline: 3.5px solid #ECB235;
    outline-offset: 5px;
    border-radius: 50%;
}

.vyhody-tab span{
    margin-top: auto;
    margin-bottom: auto;
    width: 191px;
    margin-left: 2.5%
}

/* Sekce pro část na kontakt */

.kontakt-wrapper{
    background-color: #ECB235;
    height: 385px;
    color: #fff;
    text-align: center;
    width: 100%;
    background-image: url(assets/img/message-icon.png);
    background-repeat: no-repeat;
    background-position: 31.5% 78%;
}

.kontakt-wrapper h1{
    font-size: 36px;
    padding-top: 80px;
}

.kontakt-input{
    padding-top: 65px;
    display: inline-flex;
    align-content: center;
}

.kontakt-input input{
    width: 450px;
    height: 120px;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 50px;
    font-size: 18px;
}

.kontakt-input input::placeholder{
    color: #939393;
}

.kontakt-input button{
    width: 240px;
    height: 120px;
    margin-left: 3%;
    color: #fff;
    background-color: #131313;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    

}

.kontakt-input button span{
    padding: 5%;
}

/* Sekce pro zápatí */

.zapati{
    height: max-content;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;

}

.zapati ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.zapati-wrapper{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
}

.zapati-logo{
    display: inherit;

}

.zapati-info{
    width: 100%;
    margin-top: 5.5rem;
    margin-bottom: 9rem;
    display: inline-flex;
    
    gap: 5rem;

}

.zapati-info #kontakt{
    margin-left: auto;
    margin-right: 3.5rem;
    font-size: 18px;
    font-weight: 400;

    
}

.zapati-info #kontakt span{
    display: inline-flex;
    align-items: center;
    
}

.zapati-info h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    margin-bottom: 2rem;
}

.zapati-info a{
    line-height: 170%;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
}

.zapati-info a:hover{
    text-decoration: underline;
}



.zapati-copyright{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    
}

.zapati-copyright #vytvoril-miranda{
    display: inline-flex;
    align-items: center;
    width: fit-content;
}








}